.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

.custom_link a {
    color: rgba(217, 91, 117, 1);
}

.custom_link a:hover {
    color: var(--primary);
}

.button:hover {
    /* background-color: palevioletred; */
    background-color: rgba(217, 91, 117, 1);
    text-decoration: none;
}

pre {
    background: none !important;
}

.social-icons a {
    color: rgba(217, 91, 117, 1);
}

.social-icons a:hover {
    color: var(--primary)
}

/* .cool-table {
    background-color: var(--hljs-bg);
    border-radius: calc(36px / 2);
    padding: 1rem;
} */

/*.cool-table tbody tr:last-child td {
    /* background-color: black; */
    /* border-radius: calc(36px / 2); */
    /* border: none !important; */
    /* border-color:  !important; */
/* } */